
#root > .albums {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 100px);
}
#root > .albums > .list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 20px;
    width: calc(100% - 20px);
    height: calc(100% - 70px);
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
}
#root > .albums > .list > a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 5px;
    border: 5px solid #00000020;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
#root > .albums > .list > a:hover {
    border-color: var(--primary-color);
    transform: scale(1.06);
}
#root > .albums > .list > a > img {
    width: 100%;
    height: 100%;
}
#root > .albums > .list > a > .year {
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--text-color);
    border-radius: 5px;
    background-color: var(--background-transparent);
}
#root > .albums > .list > a > .popularity {
    padding: 5px 10px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: var(--text-color);
    border-radius: 5px;
    background-color: var(--background-transparent);
}
#root > .albums > .list > a > .popularity > span {
    color: var(--primary-color);
}
/* ------------------------*/
/* Album */
/* ------------------------*/
#root > .album {
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
}
#root > .album > .albumInfos {
    display: flex;
    flex-direction: column;
    width: 200px;
}
#root > .album > .albumInfos > .albumPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}
#root > .album > .albumInfos > .albumPhoto > img {
    width: 150px;
    height: 150px;
    margin: auto;
    object-fit: cover;
    border: 5px solid #00000020;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}
#root > .album > .albumInfos > .albumYear,
#root > .album > .albumInfos > .albumPopularity,
#root > .album > .albumInfos > .albumGenre,
#root > .album > .albumInfos > .albumDescription {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#root > .album > .albumInfos > .albumDescription {
    max-height: 300px;
    border-bottom: 1px solid #00000020;
}
#root > .album > .albumInfos > .albumYear > h5,
#root > .album > .albumInfos > .albumPopularity > h5,
#root > .album > .albumInfos > .albumGenre > h5,
#root > .album > .albumInfos > .albumDescription > h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30px;
    height: 30px;
    color: var(--text-color);
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}
#root > .album > .albumInfos > .albumYear > p,
#root > .album > .albumInfos > .albumPopularity > p,
#root > .album > .albumInfos > .albumGenre > p,
#root > .album > .albumInfos > .albumDescription > p {
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    color: var(--text-color);
}
#root > .album > .albumInfos > .albumDescription > p {
    overflow-y: auto;
    overflow-x: hidden;
}
#root > .album > .albumDetails {
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    border-left: 1px solid #00000020;
}
#root > .album > .albumDetails > h2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #00000020;
    box-shadow: var(--box-shadow);
}
#root > .album > .albumDetails > h2 > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    color: var(--primary-color);
}
#root > .album > .albumDetails > h2 > span {
    color: var(--primary-color);
}
/* -------------------------------------------------------- */
/* Tracks */
/* -------------------------------------------------------- */
#root > .album > .albumDetails > .albumTracks {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 50px);
    padding: 20px;
    overflow-y: auto;
}
#root > .album > .albumDetails > .albumTracks > .track {
    display: flex;
    width: 100%;
    height: 80px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}
#root > .album > .albumDetails > .albumTracks > .track > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    color: var(--primary-color);
    font-size: 60px;
}
#root > .album > .albumDetails > .albumTracks > .track > .trackInfos {
    display: flex;
    flex-direction: column;
    width: 300px;
}
#root > .album > .albumDetails > .albumTracks > .track > .trackInfos > .trackNameDuration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
}

/* -------------------------------------------------------- */
/* Pagination */
/* -------------------------------------------------------- */
#root > .albums > .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: auto 0px 0px 0px;
    border-top: 1px solid #00000020;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    z-index: 600;
}
#root > .albums > .pagination > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    transition: all 0.5s ease-in-out;
}
#root > .albums > .pagination > a:hover {
    background-color: var(--primary-color);
}